body {
    margin-bottom:50px;
}

.btn-fullscreen {
    width: 100%;
    min-height: 300px;
    font-size: 6em;
    padding-top: 20%;

}

.mt-10 {
    margin-top: 5rem;
}

#footer {
    position: fixed;
    padding: 5px 15px;
    height: 60px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    width: 100%;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}