<div class="container-fluid">
    <div class="row">
        <div class="col-m-10 col-lg-10 col-xl-10 d-none d-md-block" style="margin-left: -15px;">
            {{#siteurl}}
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{{{siteurl}}}" allowfullscreen></iframe> 
            </div>
            {{/siteurl}}
            {{^siteurl}}
            <h1 class="mt-5">{{#str}}no_site_url_defined, local_roomsupport{{/str}}</h1>
            {{/siteurl}}
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 col-xs-12">
            <div class="card mt-2" style="margin-left: -15px; margin-right: -15px;">
                <div class="card-header">
                    <h4>{{#str}}in_coming_requests, local_roomsupport{{/str}}<a href="../index.php" class="close" title="close"><span aria-hidden="true">&times;</span></a></h4>
                </div>
                <div class="card-body">
                    <div id="alertsContainer">
                        {{> local_roomsupport/faq_alerts}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{#js}}
require(['local_roomsupport/agent'], function(mod) {
mod.init();
});
{{/js}}