 <div class="card-deck">
    {{#buildings}}
    <div class="card mb-2">
        <div class="card-header ">
            {{{fullName}}}
        </div>
        <div class="card-body">
            {{> local_roomsupport/devices}}
        </div>
        <div class="card-footer">
            <a href="faqs.php?buildingid={{{id}}}" class="btn btn-outline-primary" title="{{#str}}faqs, local_roomsupport{{/str}}">{{#str}}faqs, local_roomsupport{{/str}}</a>
            <a href="reports/logs.php?buildingid={{{id}}}" class="btn btn-outline-primary" title="{{#str}}logs, local_roomsupport{{/str}}">{{#str}}logs, local_roomsupport{{/str}}</a>
            <a href="reports/statistics.php?buildingid={{{id}}}" class="btn btn-outline-primary" title="{{#str}}statistics, local_roomsupport{{/str}}">{{#str}}statistics, local_roomsupport{{/str}}</a>
            <a href="admin/building.php?id={{{id}}}" class="editBuilding btn btn-outline-primary" title="{{#str}}edit, local_roomsupport{{/str}}">
                <i class="fa fa-pencil" ></i>
            </a>
            <a href="javascript:void(0);"  class="deleteBuilding btn btn-outline-danger" data-id="{{{id}}}" title="{{#str}}delete, local_roomsupport{{/str}}">
                <i class="fa fa-trash"></i>
            </a>
        </div>
    </div>
    {{/buildings}}
</div>
