<div class="row">
    <div class="col">
        <div class="text-center">
            <input type="hidden" id="campusId" value="{{{campusId}}}">
            <h2>{{{campusName}}} 
                <span class="float-right">
                    <a href="javascript:void(0);" id="changeCampus" 
                       title="{{#str}}change_campus, local_roomsupport{{/str}}"
                       class="btn btn-outline-primary">{{#str}}change_campus, local_roomsupport{{/str}}
                    </a>
                    <a href="faqs.php?campusid={{{campusId}}}" 
                       class="btn btn-outline-primary" 
                       title="{{#str}}faqs, local_roomsupport{{/str}}">{{#str}}faqs, local_roomsupport{{/str}}
                    </a>
                    <a href="reports/logs.php?campusid={{{campusId}}}" 
                       class="btn btn-outline-primary" 
                       title="{{#str}}logs, local_roomsupport{{/str}}">{{#str}}logs, local_roomsupport{{/str}}
                    </a>
                </span>
            </h2>
        </div>
        <div id="changeCampusSelectContainer"class="form-group">
            <label for="changeCampusId">{{#str}}view_campus, local_roomsupport{{/str}}</label>
            <select class="form-control" id="changeCampusId">
                {{#campuses}}
                <option value="{{{id}}}" {{#selected}}selected{{/selected}}>{{{name}}}</option>
                {{/campuses}}
            </select>
        </div>
    </div>
</div>
{{#unassignedDeviceCount}}
<div class="row">
    <div class="col">
        <div class="card mt-2">
            <div class="card-header">
                <h3>
                    {{#str}}unassigned_devices, local_roomsupport{{/str}}

                </h3>
            </div>
            <div class="card-body">
                {{> local_roomsupport/unassigned_devices}}
            </div>
        </div>
    </div>
</div>
{{/unassignedDeviceCount}}
<div class="row">
    <div class="col">
        <div class="card mt-2">
            <div class="card-header">
                <h3>
                    {{#str}}buildings, local_roomsupport{{/str}}
                    <span class="float-right">
                        <a href="admin/building.php?id=0&campusid={{{campusId}}}" id="addBuilding"
                           title="{{#str}}add_building, local_roomsupport{{/str}}"
                           class="btn btn-outline-primary">{{#str}}add_building, local_roomsupport{{/str}}
                        </a>
                    </span>
                </h3>
            </div>
            <div class="card-body">
                {{> local_roomsupport/buildings}}
            </div>
        </div>
    </div>
</div>

{{> local_roomsupport/delete_modal }}
{{> local_roomsupport/edit_modal }}
{{#js}}
require(['local_roomsupport/dashboard'], function(mod) {
mod.init();
});
{{/js}}