<div class="row">
    <div class="col">
        <h2>{{#str}}logs, local_roomsupport{{/str}} 
            <div class="float-right">
                <div class="form-inline">
                    <select id="buildingId" class="form-control mr-2" data-campusid="{{{campusId}}}">
                        <option value="0">{{#str}}view_all, local_roomsupport{{/str}}</option>
                        {{#buildings}}
                        <option value="{{id}}" {{selected}}>{{name}}</option>
                        {{/buildings}}
                    </select>
                    <a href="../index.php" class="btn btn-outline-primary" title="{{#str}}dashboard, local_roomsupport{{/str}} ">
                        {{#str}}dashboard, local_roomsupport{{/str}} 
                    </a>
                </div>
            </div>
        </h2>
    </div>
</div>
<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    {{#str}}id, local_roomsupport{{/str}}
                </th>
                <th>
                    {{#str}}room, local_roomsupport{{/str}}
                </th>
                <th>
                    {{#str}}timecreated, local_roomsupport{{/str}}
                </th>
                <th>
                    {{#str}}agent, local_roomsupport{{/str}}
                </th>
                <th>
                    {{#str}}timereplied, local_roomsupport{{/str}}
                </th>
                <th>
                    {{#str}}timeclosed, local_roomsupport{{/str}}
                </th>
            </tr>
        </thead>
        <tbody>
            {{#stats}}
            <tr>
                <td>
                    {{id}}
                </td>
                <td>
                    {{room}}
                </td>
                <td>
                    {{timecreated}}
                </td>
                <td>
                    {{agent}}
                </td>
                <td>
                    {{timereplied}}
                </td>
                <td>
                    {{timeclosed}}
                </td>
            </tr>
            {{/stats}}
        </tbody>
    </table>
</div>

{{#js}}
require(['local_roomsupport/logs'], function(mod) {
mod.init();
});
{{/js}}
