<div class="card-deck">
    {{#unassignedDevices}}
    <div class="card {{#status}}online{{/status}}{{^status}}offline{{/status}} mb-2">
        <div class="card-header ">
            {{{room}}}
        </div>
        <div class="card-body">
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#detailsModal{{{id}}}">
                <i class="fa fa-info-circle" ></i>
            </button>

            <a href="javascript:void(0);" class="editRpi btn btn-outline-primary" data-id="{{{id}}}" title="{{#str}}edit, local_roomsupport{{/str}}">
                <i class="fa fa-edit" ></i>
            </a>

            <a href="javascript:void(0);"  class="rebootRpi btn btn-outline-success" data-id="{{{id}}}" title="{{#str}}reboot, local_roomsupport{{/str}}">
                <i class="fa fa-power-off" ></i>
            </a>

            <a href="javascript:void(0);"  class="deleteRpi btn btn-outline-danger" data-id="{{{id}}}" title="{{#str}}delete, local_roomsupport{{/str}}">
                <i class="fa fa-trash"></i>
            </a>

            {{> local_roomsupport/details_modal }}
        </div>
    </div>
    {{/unassignedDevices}}
</div>